{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link for google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

        <!-- Bootstrap JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Swiper JavaScript -->
        <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

        <!-- My Custom JavaScript -->
        <script src="{% static 'js/car.js' %}"></script>


        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/> <!-- Favicon link -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- Font Awsome CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Bootstrap CSS -->

        <!-- Swiper JavaScript -->
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

        <!-- My Custom CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


        <title>Car Shark</title>
    </head>

    <body>

        <div class="container-fluid" id="header"> <!-- HTML for Page Header -->
            <div class="row align-items-center">
                <div class="col"><img src="{% static 'img/Car-Shark-Logo.png' %}" id="responsive-image" alt="Logo"></div>
                <div class="col text-center"><h1 id="header-h1">Car Shark</h1></div>
                <div class="col"></div>
            </div>
        </div>

        <nav class="navbar navbar-expand-md" id="navbar"> <!-- HTML for navbar -->
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'car_dealer:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'car_dealer:showroom' %}">Showroom</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Finance</a>
                    </li>    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Warranty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
            </div>  
        </nav>

        <div class="container-fluid p-0"> <!-- HTML for full width image under navbar and its container -->
            <img class="img-fluid" id="audi-header-image" src="{% static 'img/audi-tt.jpg' %}" alt="Header-Image-Audi">
        </div>
        

        {% block body %}
        {% endblock body %}


        <footer id="footer"> <!-- HTML for footer -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <iframe id="map" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.849417924880982%2C56.47191996106045%2C-2.8453087806701665%2C56.47360884072105&amp;layer=mapnik&amp;marker=56.47276441028266%2C-2.8473633527755737" style="border: 1px solid black"></iframe>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="footer-center">
                                    <a id="mailto" href="mailto:email@example.com"><h5 id="mailto-h5">Email Us</h5></a>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="footer-bottom">
                                    <h5>Sales: <span id="nowrap">01382 775500</span></h5>
                                    <h5>Mobile: <span id="nowrap">07912425861</span></h5>
                                    <h5>Workshop <span id="nowrap">01382 778777</span></h5>
                                </div>
                            </div>
                            <hr id="line">
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center footer-bottom-divs">
                                <h4>ADDRESS</h4>
                                <ul class="list-unstyled footer-list">
                                    <li>20 Dalhousie Road</li>
                                    <li>Barnhill</li>
                                    <li>Dundee</li>
                                    <li>DD5 2SW</li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-center footer-bottom-divs">
                                <h4>OPENING HOURS</h4>
                                <ul class="list-unstyled footer-list">
                                    <li>Monday - Friday: <span id="nowrap">09:00 - 18:00<span></li>
                                    <li>Saturday: <span id="nowrap">09:00 - 17:00<span></li>
                                    <li>Sunday: <span id="nowrap">13:00 - 16:30<span></li>
                                </ul>
                            </div>
                            <div class="col-md-4 text-center footer-bottom-divs">
                                <img id="footer-img-logo" src="{% static 'img/vosa.jpg' %}" alt="Vosa Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    {% block javascript %}
    {% endblock javascript %}

    </body>

</html>
