/* **************************** CSS FOR LAYOUT.HTML - ALL PAGES **************************** */
body {
    font-family: 'Merriweather', serif;
}

h1, h5, h4, h6, p {     /* Used to change color of all h1 and p elements */
    color: #e7e7e6;
}

    /* header CSS - above navbar */
#header {   /* Used to change background color of #header element */
    background-color: #17171c;
}
#responsive-image { /* Used to make the logo image size responsive */
    width: 100%;
    max-width: 160px;
    min-width: 90px;
}
#header-h1 { /* default size for h1 in the header */
    font-size: 1rem;
}

    /* navbar CSS */
#navbar { /* Change background colour of navbar and add top and bottom border */
    background-color: #347c5c;
    border-bottom: #ac815b 5px solid;
    font-family: "BlinkMacSystemFont","Segoe UI","Roboto","Helvetica Neue","Arial","Noto Sans","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 22px;
}
.nav-link { /* Change color of navbar links and make font bold */
    color: #e7e7e6;
    font-weight: bold;
}
.nav-link:hover { /* Change color of navbar link when hovering over them */
    color: #ac815b;
}
.custom-toggler.navbar-toggler { /* Change colour of toggler button border - burger button */
    border: 2px solid #ac815b;
}
.custom-toggler.navbar-toggler-icon { /* Change the colour of the nabar toggler icon - 3 lines - burger button */
    background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(172, 129, 91, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


    /* CSS for styling the header image - Audi image */
#audi-header-image {
    min-height: 130px;
}

/* CSS for Footer */
#footer {
    background-color: #17171c;
    border-top: #ac815b solid 5px;
}
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 400px;
    width: 100%;
}
#line {
    background-color: #ac815b;
    width: 90%;
    height: 2px;
}
#footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
@media (max-width: 580px) {
    #footer-center {
        display: block;
        text-align: center;
    }
}
#footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
#nowrap {
    white-space: nowrap;
}
@media (max-width: 950px) {
    #footer-bottom {
        text-align: center;
        width: 100%;
        padding-right: 10px;
        padding-bottom: 20px;
    }
}
.footer-list {
    color: #e7e7e6;
}
@media (max-width: 990px) {
    .footer-bottom-divs {
        margin: 20px 0px;
    }
}
#footer-img-logo {
    max-width: 120px;
}
#mailto:hover {
    text-decoration: none;
    border-bottom: 2px solid #ac815b;
}
#mailto-h5:hover {
    color: #ac815b;
}




/* **************************** CSS FOR HOME PAGE **************************** */

    /* CSS for styling the small search form under the header image */
.home-form-bg {
    background-color: #347c5c;
    border-top: 5px solid #ac815b;
}
#find-div {
    margin-top: 20px;
    white-space: nowrap;
    float: right;
}
#find-car {
    display: inline;
    margin-right: 10px;
}
.fa-search {
    color: #e7e7e6;
}
.form-inline-home {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px 10px 10px 0;
}

.form-inline-home select {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #e7e7e6;
    border: 1px solid #17171c;
    box-shadow: -5px 5px 3px #17171c;
}
.form-inline-home button {
    padding: 10px 20px;
    background-color: #ac815b;
    box-shadow: -5px 5px 3px #17171c;
    color: #e7e7e6;
    cursor: pointer;
    font-weight: bold;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial","Noto Sans", "sans-serif", "Apple Color Emoji" ,"Segoe UI Emoji", "Segoe UI Symbol" ,"Noto Color Emoji";
}
.form-inline-home button:hover {
    background-color: #926d4d;
}
@media (max-width: 800px) {
    .form-inline-home select {
        margin: 10px 0;
    }
    .form-inline-home {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 20px;
    }
}

    /* CSS for home page about us section */
#home-about-section {
    background-color: #17171c;
    border-bottom: #ac815b solid 5px;
}
#home-about-img   {
    width: 100%;
    max-width: 500px;
    border: #e7e7e6 solid 3px;
    margin: 30px;
}
@media (max-width: 580px) {
    #home-about-img {
        margin: 45px 0px;
    }
}
#about-us {
    padding-top: 20px;
}
#about-home-text-div {
    margin: 20px 20px 40px 20px;
    text-align: center;
}

    /* CSS for home page featured section */
#featured-section {
    background-color: #347c5c;
    padding-top: 40px;
    padding-bottom: 40px;
}
.card-image {
    border: #ac815b solid 2px;
}
#card-edit {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border: solid #ac815b 2px;
    background-color: #17171c;
}
.card-title, .card-subtitle {
    display: inline;
}
#card-subtitle {
    float: right;
    margin-top: 5px;
}
#swiper-button-next {
    background-image: url('/static/img/arrow-next.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    right: -20px;
}
#swiper-button-prev {
    background-image: url('/static/img/arrow-prev.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    left: -20px;
}
@media (max-width: 580px) {
    #swiper-button-prev {
        left: 40px
    }
    #swiper-button-next {
        right: 40px
    }
}
#swiper-button-next::after, #swiper-button-prev::after {
    display: none;
    }




/* **************************** CSS FOR SHOWROOM PAGE **************************** */
    /* CSS for Showroom Search form Section */
    #showroom-form-div {
        background-color: #347c5c;
        padding: 20px;
        border-top: #ac815b solid 5px;
    }
    .show-select  {
        background-color: #e7e7e6;
        border: 1px solid #17171c;
        box-shadow: -5px 5px 3px #17171c;
        border-radius: 0px;
        margin-top: 10px;
        color: black;
    }
    .show-select option {
        color: #17171c;
    }
    .show-select:focus {
        border-color: #17171c;
        box-shadow: -5px 5px 3px rgba(39, 15, 15, 0.075) inset, 0px 0px 8px rgba(3, 3, 3, 0.5);
        background-color: #e7e7e6;
    }
    #show-search-button {
        background: #ac815b;
        color: #e7e7e6;
        box-shadow: -5px 5px 3px #17171c;
        font-weight: bold;
        font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial","Noto Sans", "sans-serif", "Apple Color Emoji" ,"Segoe UI Emoji", "Segoe UI Symbol" ,"Noto Color Emoji";
        border-radius: 0px;
        width: 90%;
        margin-top: 10px;
    }
    #car-count {
        margin-top: 10px;
    }
    @media (max-width: 690px) {
        #show-search-button {
            width: 100%;
        }
        #car-count {
            font-size: 1rem;
        }
    }
    #show-search-right {
        padding-right: 5px;
    }
    #show-search-left {
        padding-left: 5px;
    }
    
    
        /* CSS for car detail section */
    #car-section-showroom {
        background-color: #347c5c;
        padding: 10px 0px;
    }
    .show-car-card-div {
        background-color: #17171c;
        margin: 30px 50px;
        border: solid 2px #ac815b;
    }
    .show-car-img-div {
        padding: 15px;
    }
    .show-car-img {
        padding: 0;
        border: none;
    }
    .show-car-heading {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #show-heading-price {
        float: right;
    }
    .show-car-table {
        color: #e7e7e6;
        border-collapse: separate;
        border-spacing: 0px 25px;
        padding-top: 10px;
        margin-bottom: 0;
        font-size: 16px;
    }
    .show-detail-row-colour {
        background-color: #222229;
    }
    .show-details-button {
        background-color: #ac815b;
        color: #e7e7e6;
        font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial","Noto Sans", "sans-serif", "Apple Color Emoji" ,"Segoe UI Emoji", "Segoe UI Symbol" ,"Noto Color Emoji";
        margin: 10px 10px;
        font-weight: bold;
        width: 150px;
        height: 50px;
        float: right;
    }
    
        /* Pagination CSS */
    .page-link {
        background-color: #17171c;
        color: #e7e7e6;
        border: none;
    }
    .page-link:hover {
        background-color: #ac815b;
        color: #e7e7e6;
    }
    .page-link:active, .page-link:focus {
        outline: none;
        box-shadow: none;
    }
    .page-item.active .page-link {
        background-color: #ac815b;
    }
    .page-item.disabled .page-link {
        background-color: #17171c;
        color: #e7e7e6;
    }

    


/* **************************** CSS FOR CAR PAGE **************************** */

/* Css for car detail section - table and images */
#car-details-main {
    background-color: #347c5c;
    border-top: #ac815b solid 5px;;
    padding: 10px 15px;
}
#car-page-heading-div {
    margin: 30px 50px 0px 50px;
    background-color: #17171c;
    padding-top: 20px;
}
.car-heading-display {
    display: inline;
    padding-left: 5px;
}
#car-page-price {
    float: right;
    padding-right: 5px;
}
#car-page-img-spec {
    background-color: #17171c;
    margin: 0px 50px 30px 50px;
}
@media (max-width: 700px){
    #car-page-heading-div {
        margin: 30px 10px 0px 10px;
    }
    #car-page-img-spec {
        margin: 0px 10px 30px 10px;
    }
    .car-heading-display {
        display: block;
    }
}
    /* Image carousel CSS */
.car-container {
    position: relative;
}
#mySlides {
    margin-top: 10px;
    margin-bottom: 10px;
}
.featured {
    display: none;
    padding: 0;
    border: 2px solid #ac815b;
    border-radius: 0;
}
.mySlideDisplay {
    display: block;
}
#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: 20%;
    min-width: 70px;
    max-width: 100px;
    padding: 16px;
    margin-top: -50px;
    user-select: none;
    -webkit-user-select: none;
    transition: .3s;
}
#next {
    right: 0;
}
#slider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
.thumbnail {
    opacity: 0.5;
    max-width: 150px;
    max-height: 80px;
    object-fit: cover;
    margin: 10px 5px;
    border: 2px solid #ac815b;
}
.active {
    opacity: 1;
}
    /* Car Spec Table */
.car-page-table {
    color: #e7e7e6;
    margin-top: 10px;
}
.car-detail-row-colour {
    background-color: #1c1c22;
}
    /* Car page details section and dealer info */
#car-page-description-title-row {
    margin: 30px 50px 0px 50px;
}
#car-page-description-row {
    margin: 0px 50px 30px 50px;
    background-color: #17171c;
}
@media (max-width: 700px){
    #car-page-description-title-row {
        margin: 30px 10px 0px 10px;
    }
    #car-page-description-row {
        margin: 0px 10px 30px 10px;
    }
}
#car-description-column-title {
    background-color: #17171c;
    padding-top: 10px;
    padding-bottom: 10px;
}
#car-dealership-column-title {
    background-color: #1c1c22;
    padding-top: 10px;
    padding-bottom: 10px;
}
#car-description-column-title:hover {
    cursor: pointer;
}
#car-dealership-column-title:hover {
    cursor: pointer;
}
#car-description {
    display: block;
    border: #ac815b solid 1px;
    padding-top: 20px;
    padding-left: 20px;
}
#car-dealer-info {
    display: none;
    border: #ac815b solid 1px;
    padding-top: 20px;
}
#dealer-info-heading {
    padding-bottom: 10px;
}
.dealer-info-titles {
    padding-bottom: 5px;
    font-weight: 100;
    color: #ac815b;
}
#car-description-price {
    color: #ac815b;
    padding-bottom: 20px;
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}
#car-text {
    padding-left: 50px;
}
#opening-hours-dealer {
    padding-top: 15px;
}
.dealer-info-list {
    color: #e7e7e6;
}
#dealer-mail {
    color: #e7e7e6;
    font-size: 18px;
}
#dealer-mail:hover {
    text-decoration: none;
    color: #ac815b;
}




/* **************************** CSS FOR MEDIA COMMON QUERIES **************************** */
/* Common media query sizes */
@media (min-width: 230px) and (max-width: 480px) { /* mobile devices */
    #header-h1 {
        font-size: 1.5rem;
    }
    .form-inline-home {
        margin-left: 10px;
    }
    #footer-bottom {
        padding-bottom: 5px;
        padding-right: 0px;
    }
    .show-car-table {
        font-size: 12px;
        padding-top: 0px;
        border-spacing: 0px 5px;
    }
    .show-details-button {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
    .show-car-card-div {
        margin: 30px 20px;
    }
    .show-car-heading {
        padding-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 481px) and (max-width: 765px) { /* tablet devices */
    #header-h1 {
        font-size: 2rem;
    }
    .form-inline-home {
        margin-left: 10px;
    }
    .show-car-table {
        font-size: 14px;
    }
    .show-car-card-div {
        margin: 30px 20px;
    }
    .show-car-heading {
        padding-top: 0;
    }
}

@media (min-width: 766px) and (max-width: 1024px) { /* laptop devices */
    #header-h1 {
        font-size: 2.5rem;
    }
    .fa-search { 
        opacity: 0;
    }
    #find-div { 
        float: none;
    }
    #find-car { 
        margin-left: 9px; 
    }
    .show-car-table {
        border-spacing: 0px 10px;
        padding-top: 5px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) { /* desktop devices */
    #header-h1 {
        font-size: 3rem;
    }
    .show-car-table {
        border-spacing: 0px 15px;
        padding-top: 0px;
    }
}

@media (min-width: 1200px) { /* large devices (TV) */
    #header-h1 {
        font-size: 3.5rem;
    }
}
